:root{
    --color-1: #ff702a;
    --color-2:#fff;
    --color-3:#1e1d2b;
    --color-4:#000;
    --color-5:#ffefe8;
    --color-6-:#2c2b47;
    --padding-x: 0 20px
}

h1,h2,h3{
    color: var(--color-1);
    margin: 0;
}
p{
    color: var(--color-2);
    margin: 0;
}

.primary-button{
    width: 150px;
    height: 40px;
    background-color: var(--color-1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-5);
}